<div class="govuk-summary-list__row moj-multi-file-upload__row">
  <div class="govuk-summary-list__value moj-multi-file-upload__message">
    <span class="moj-multi-file-upload__filename">
      <%= document.filename %>
    </span>

    <!-- This is for demo purposes, it requires proper styling and copy -->
    <% if document.s3_object_key %>
      <span class="moj-multi-file-upload__progress">100%</span>
    <% else %>
      <span class="moj-multi-file-upload__error">
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"></path></svg>
      </span>
    <% end %>
  </div>
  <div class="govuk-summary-list__actions moj-multi-file-upload__actions"></div>
</div>
