<tr class="govuk-table__row">
  <td id="<%=document.filename%>" class="govuk-table__cell">
    <%= document.filename %>

    <% if document.s3_object_key %>
      <strong class="govuk-tag govuk-tag--green">Uploaded</strong>
    <% else %>
      <% document.valid?(:storage) %>

      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>
        <%= document.errors.first.full_message %>
      </p>
    <% end %>
  </td>
</tr>
