<div class="govuk-summary-list__row">
  <dd class="govuk-summary-list__value">
    <%= render partial: 'steps/shared/saving', locals: { saving: } %>
  </dd>

  <% if show_actions %>
    <dd class="govuk-summary-list__actions">
      <%= link_to t('.change_link_html'), edit_steps_capital_savings_path(saving_id: saving),
                  class: 'govuk-link--no-visited-state ga-pageLink',
                  data: { ga_category: 'savings summary', ga_label: 'change saving' } %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to t('.remove_link_html'), confirm_destroy_steps_capital_savings_path(saving_id: saving),
                  class: 'govuk-link--no-visited-state ga-pageLink',
                  data: { ga_category: 'savings summary', ga_label: 'remove saving' } %>
    </dd>
  <% end %>
</div>
