<% title 'Search' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Search for an application</h1>
    <%= govuk_warning_text text: 'Warning: to be used for test purposes only' %>
    <p class="govuk-body"> You are searching for applications submitted and returned under office code [<%= current_office_code %>]. </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column">
    <%= render @filter %>
  </div>
</div>
