<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= t('shared.errors.datastore.unavailable.heading') %>
    </h2>

    <p class="govuk-body">
      <%= t('shared.errors.datastore.unavailable.explanation') %>
    </p>

    <p class="govuk-body">
      <%= t('shared.errors.datastore.unavailable.contact_helpline_html', helpline_url: about_contact_path) %>
    </p>

    <%= link_to t('helpers.submit.try_again'), completed_crime_applications_path(q: params[:q]), class: 'govuk-button govuk-button--secondary' %>
  </div>
</div>
