<h2 class="govuk-heading-m">
  <%= t('shared.errors.datastore.unavailable.heading') %>
</h2>

<% t('shared.errors.datastore.unavailable.body_html', helpline_url: about_contact_path).each do |paragraph| %>
  <p class="govuk-body">
    <%= paragraph %>
  </p>
<% end %>
