<div class="govuk-summary-list__row">
  <dd class="govuk-summary-list__value">
    <%= render partial: 'steps/shared/charge', locals: { charge: } %>
  </dd>

  <% if show_actions %>
    <dd class="govuk-summary-list__actions">
      <%= link_to t('.change_link_html'), edit_steps_case_charges_path(charge_id: charge),
                  class: 'govuk-link--no-visited-state' %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to t('.remove_link_html'), confirm_destroy_steps_case_charges_path(charge_id: charge),
                  class: 'govuk-link--no-visited-state' %>
    </dd>
  <% end %>
</div>
