<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column-full">
    <%= step_form @form_object do |f| %>
      <h1 class="govuk-heading-l app-inverted-text" id="dwp-confirm-result-desc">
        <%= legend_t(:heading) %>
      </h1>

      <%# TODO: conditional routing required %>
      <%= link_button t('.yes_continue'), edit_steps_dwp_confirm_details_path,
                      class: 'app-button--m app-button--inverted' %>

      <%= link_button t('.no_link'), edit_steps_dwp_has_benefit_evidence_path,
                      class: 'govuk-button--secondary' %>

    <% end %>
  </div>
</div>
