<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column-full">
    <%= step_form @form_object do |f| %>
      <h1 class="govuk-heading-l app-inverted-text"><%= legend_t(:cannot_match_details) %></h1>

      <%= f.continue_button(primary: :check_details, secondary: false, primary_opts: { class: 'app-button--m app-button--inverted' }) %>
    <% end %>
  </div>
</div>
