<div class="govuk-error-summary">
  <h2 class="govuk-error-summary__title">
    <%= t('errors.error_summary.incomplete_records_heading') %>
  </h2>

  <ul class="govuk-list govuk-error-summary__list">
    <li><%= link_to t('errors.incomplete_records'), edit_crime_application_path %></li>
  </ul>
</div>
