<%#
  TODO: This partial is shared between the `savings summary` page
  and the `check your answers` page.
%>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Show details of <%= saving.format_saving_type.downcase %>
    </span>
  </summary>
  <%= render @savings_details %>
</details>

<% unless saving.complete? %>
  <strong class="moj-badge moj-badge--red">
    <%= t('.incomplete_tag') %>
  </strong>
<% end %>
