<% if list_section.heading %>
  <h2 class="govuk-heading-l">
    <%= t(list_section.heading, scope: 'summary.sections') %>
  </h2>
<% end %>

<%= render list_section.answers, editable: list_section.editable? %>
