<%
  content_for(:row_question, flush: true) do
    t("summary.questions.#{offence_answer.question}.question", **offence_answer.i18n_opts)
  end
%>

<% content_for(:row_answer, flush: true) do %>
  <p class="govuk-body govuk-!-margin-bottom-1">
    <%= offence_answer.offence_name %>
  </p>

  <p class="govuk-caption-m">
    <%= offence_answer.offence_class || t("summary.questions.#{offence_answer.question}.unknown_class") %>
  </p>

  <% offence_answer.offence_dates.map do |date| %>
    <p class="govuk-body govuk-!-margin-bottom-0">
      <%= l(date) %>
    </p>
  <% end %>
<% end %>

<%= render partial: 'steps/submission/shared/summary_row', locals: { row: offence_answer } %>
