<% if section.heading %>
  <h2 class="govuk-heading-l">
    <%= t(section.heading, scope: 'summary.sections') %>
  </h2>
<% end %>

<%= govuk_summary_card title: section.title do |card| %>
  <% if section.editable? && section.change_path %>
      <% card.with_action { govuk_link_to(I18n.t('summary.dictionary.change'), section.change_path, no_visited_state: true) } %>
  <% end %>
<%= render partial: 'steps/submission/shared/summary_list', locals: { section: } %>
<% end %>
