<% unless section.headless? %>
  <h2 class="govuk-heading-m">
    <%= t(section.name, scope: 'summary.sections') %>
  </h2>
<% end %>

<dl class="govuk-summary-list">
  <%= render section.answers, editable: section.editable? %>
</dl>
