<% if FeatureFlags.summary_cards.enabled? && !(section.headless? || section.list?)%>
  <%= govuk_summary_card title: t(section.name, scope: 'summary.sections') do %>
    <%= govuk_summary_list do |list|
      section.answers.each do |answer|
        list.with_row do |row|
          row.with_key { answer.question_text }
          row.with_value { answer.answer_text }

          if section.editable? 
            row.with_action(
              text: "Change",
              href: answer.change_path,
              visually_hidden_text: answer.visually_hidden_action_text
            )
          end
        end
      end
    end %>
  <% end %>
<% else %>
  <% unless section.headless? %>
    <h2 class="govuk-heading-m">
      <%= t(section.name, scope: 'summary.sections') %>
    </h2>
  <% end %>

  <dl class="govuk-summary-list">
    <%= render section.answers, editable: section.editable? %>
  </dl>
<% end %>
