<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l app-inverted-text"><%= t('.heading')%></h1>

    <div class="govuk-button-group">
      <%= link_button t('helpers.submit.save_and_continue'),
                      edit_steps_case_charges_path(charge_id: @charge),
                      class: 'app-button--m app-button--inverted' %>

      <%= link_button t('helpers.submit.save_and_come_back_later'),
                      edit_crime_application_path(current_crime_application),
                      class: 'govuk-button--secondary' %>
    </div>

  </div>
</div>
