<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l app-inverted-text">Your application has been date stamped</h1>

    <div class="govuk-button-group">
      <%= link_button t('helpers.submit.save_and_continue'), '#', class: 'app-button--m app-button--inverted' %>
      <%= link_button t('helpers.submit.save_and_come_back_later'), '#', class: 'govuk-button--secondary' %>
    </div>

  </div>
</div>
