<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
    <%= render partial: 'shared/flash_banner' %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <%= link_to t('.start_button'), new_crime_application_path, class: 'govuk-button',
                  data: { module: 'govuk-button' }, role: 'button', draggable: false %>
  </div>
</div>
