<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l app-inverted-text">You need to apply using eForms</h1>

    <p class="govuk-body app-inverted-text">This is because one or more of the following applies to your client:</p>

    <ul class="govuk-list govuk-list--bullet app-inverted-text">
      <li>their application is non-means tested</li>
      <% if FeatureFlags.employment_journey.enabled? %>
        <li>they are self-employed</li>
        <li>they have a partner who is self-employed</li>
      <% else %>
        <li>they are working or self-employed</li>
        <li>they have a partner who is working or self-employed</li>
      <% end %>
    </ul>

    <div class="govuk-button-group govuk-!-margin-top-6">
      <%= link_button t('helpers.submit.apply_in_eforms'), Settings.eforms_url,
                      class: 'app-button--m app-button--inverted' %>
    </div>

    <%= link_to t('helpers.back_to_applications'), crime_applications_path, class: 'app-link--inverted govuk-!-font-size-19' %>
  </div>
</div>
