<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <%= link_to t('.in_progress', count: in_progress_count), crime_applications_path,
                  class: 'moj-sub-navigation__link',
                  'aria-current': ('page' if current_page?(controller: 'crime_applications', action: 'index')).to_s %>
    </li>

    <li class="moj-sub-navigation__item">
      <%= link_to t('.submitted', count: submitted_count), completed_crime_applications_path,
                  class: 'moj-sub-navigation__link',
                  'aria-current': ('page' if current_page?(controller: 'completed_applications', action: 'index') && params[:q] != 'returned').to_s %>
    </li>

    <li class="moj-sub-navigation__item">
      <%= link_to t('.returned', count: returned_count), completed_crime_applications_path(q: 'returned'),
                  class: 'moj-sub-navigation__link',
                  'aria-current': ('page' if current_page?(controller: 'completed_applications', action: 'index', q: 'returned')).to_s %>
    </li>
  </ul>
</nav>
