// App-specific custom styles and overrides
// Please use BEM convention: http://getbem.com/naming/
//
.app-dashboard-table {
  .govuk-table__header,
  .govuk-table__cell {
    vertical-align: middle;
  }
}

.app-aside__bar--blue {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(2);

  h3 {
    margin-bottom: 0;
  }
}

.app-grid-column--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1%;
}

// style accessible autocomplete
.autocomplete__wrapper * {
  @include govuk-typography-common();
}

