@use "govuk-frontend/dist/govuk" as *;

// App-specific custom styles and overrides
// Please use BEM convention: http://getbem.com/naming/
//

@mixin app-button-reset {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  box-sizing: unset;
  background-color: transparent;
}

// Differentiate the header in non-production envs by
// overriding the default colour
$colours: (
        "staging": govuk-colour("orange"),
        "preprod": govuk-colour("blue"),
        "local": govuk-colour("green")
);

@each $key, $colour in $colours {
  .govuk-phase-banner-#{$key} {
    border-bottom-color: $colour;
  }

  .govuk-header-#{$key} {
    border-bottom-color: $colour;
  }
}

// Ensure the logo and organisation name remain inline on
// all screen sizes and all components follow the design pattern of
// MoJ Design header https://design-patterns.service.justice.gov.uk/components/moj-header/
.govuk-header__container {
  border-bottom: none;
}

.govuk-header__product-name {
  margin-top: 10px;
  font-weight: 700;
}

.govuk-header__logo {
  margin-bottom: 20px;
  width: auto;
}

.govuk-header__content {
  width: auto;
  float: right;
  margin-top: 10px;
}

.moj-header__logotype-crest {
  height: 40px;
  width: 40px;
}

.govuk-header__link:hover {
  margin-bottom: 0;
  border-bottom: none;
}

.govuk-header__menu-button:hover {
  text-decoration: none;
}

.govuk-service-navigation__toggle {
  display: none;
}

@media (max-width: 52.25em) { // 836px
  .govuk-header__navigation-list {
    float: none;
    margin-top: 0;
  }
}

@media (max-width: 48em) { // 769px
  .govuk-header__content {
    float: none;
    margin-bottom: 10px;
  }

  .govuk-header__menu-button {
    position: inherit;
    margin-bottom: 10px;
  }
}

@media (max-width: 40em) { // 641px
  .moj-header__logotype-crest {
    height: 35px;
    width: 30px;
  }
}

// Avoid flickering header menu on small screens, where on page load
// the header menu briefly shows before being hidden. This makes it
// visually hidden from the start, and a bit of javascript removes
// the class as soon as the page has loaded.
// If javascript is disabled, the menu shows expanded on page load.
// Refer to `app/javascript/application.js`
body.js-enabled {
  ul.app-header-menu-hidden-on-load {
    @include govuk-media-query($until: desktop) {
      display: none;
    }
  }
}

.app-button--link {
  @include app-button-reset;
  @extend %govuk-link;

  // Buttons can't have different colours for visited/unvisited
  color: $govuk-link-colour;
}
.govuk-pagination__item--current { 
  .app-button--link {
    color: #fff;
  }
}

.app-table-container {
  overflow-x: auto
}


.app-dashboard-table {
  .govuk-table__header,
  .govuk-table__cell {
    vertical-align: middle;
  }
}

.app-aside__bar--blue {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(2);

  h3 {
    margin-bottom: 0;
  }
}

.app-grid-column--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1%;
}

.app-summary-list__key {
  width: 45%
}

.app-summary-list--compact {
  dt, dd {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

.date-stamp-context__tag {
  max-width: 100%;
}


$button-shadow-size: $govuk-border-width-form-element;
$app-blue-button-colour: govuk-colour("blue");
.app-button--blue {
  background-color: $app-blue-button-colour;
  box-shadow: 0 $button-shadow-size 0 govuk-shade($app-blue-button-colour, 60%);

  &:hover {
    background-color: govuk-shade($app-blue-button-colour, 20%);
  }
}

// style accessible autocomplete
.autocomplete__wrapper * {
  @include govuk-typography-common();
}

// The tabs are focusable with JS but not through normal
// keyboard navigation. We remove the outline when focused.
.moj-sub-navigation__item {
  &:focus {
    outline: none;
  }
}

// Grey line separator for updated at date, taken from
// https://github.com/alphagov/government-frontend/
.app-c-updated-date {
  padding-top: govuk-spacing(2);
  border-top: 1px solid $govuk-border-colour;
}

.app-declaration__fulfilment-errors {
  @include govuk-media-query($from: tablet) {
    .govuk-grid-column-one-third {
      text-align: right;
    }
  }
}

// To conditionally hide components to support JS/Non JS evidence upload functionality
.app-evidence-upload-hidden {
  display: none;
}

form.search {
  padding-top: 2em;
  padding-left: 2em;
  background-color: govuk-colour("light-grey");
  .input-group {
    display: flex;
    .govuk-form-group {
      margin-right: govuk-spacing(4);
    }
  }
  input[type=date] {
    width: 8em;
  }
}

// Make the month input wider to accommodate month names
.govuk-date-input__item input[id$="2"] {
  max-width: 7.3em;
}
