// App-specific custom styles and overrides
// Please use BEM convention: http://getbem.com/naming/
//
@mixin app-button-reset {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  box-sizing: unset;
  background-color: transparent;
}

// Differentiate the header in non-production envs by
// overriding the default colour
$colours: ("staging": govuk-colour("orange"), "local": govuk-colour("green"));

@each $key, $colour in $colours {
  .govuk-phase-banner-#{$key} {
    border-bottom-color: $colour;
  }

  .govuk-header-#{$key} > .govuk-header__container {
    border-bottom-color: $colour;
  }
}

// Avoid flickering header menu on small screens, where on page load
// the header menu briefly shows before being hidden. This makes it
// visually hidden from the start, and a bit of javascript removes
// the class as soon as the page has loaded.
// If javascript is disabled, the menu shows expanded on page load.
// Refer to `app/javascript/application.js`
body.js-enabled {
  ul.app-header-menu-hidden-on-load {
    @include govuk-media-query($until: desktop) {
      display: none;
    }
  }
}

.app-button--link {
  @include app-button-reset;
  @extend %govuk-link;

  // Buttons can't have different colours for visited/unvisited
  color: $govuk-link-colour;
}

.app-dashboard-table {
  .govuk-table__header,
  .govuk-table__cell {
    vertical-align: middle;
  }
}

.app-aside__bar--blue {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(2);

  h3 {
    margin-bottom: 0;
  }
}

.app-grid-column--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1%;
}

// tweaks to the task list on top of the MOJ styles
.app-task-list__task-name {
  display: block;
  @include govuk-media-query($from: 450px) {
    float: left;
  }
}

.app-task-list__tag {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.app-summary-list__key {
  width: 45%
}

.app-summary-list--compact {
  dt, dd {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

.date-stamp-context__tag {
  max-width: 100%;
}

$app-blue-button-colour: govuk-colour("blue");
.app-button--blue {
  background-color: $app-blue-button-colour;
  box-shadow: 0 $button-shadow-size 0 govuk-shade($app-blue-button-colour, 60%);

  &:hover {
    background-color: govuk-shade($app-blue-button-colour, 20%);
  }
}

// style accessible autocomplete
.autocomplete__wrapper * {
  @include govuk-typography-common();
}

// The tabs are focusable with JS but not through normal
// keyboard navigation. We remove the outline when focused.
.moj-sub-navigation__item {
  &:focus {
    outline: none;
  }
}

// Grey line separator for updated at date, taken from
// https://github.com/alphagov/government-frontend/
.app-c-updated-date {
  padding-top: govuk-spacing(2);
  border-top: 1px solid $govuk-border-colour;
}

.app-declaration__fulfilment-errors {
  @include govuk-media-query($from: tablet) {
    .govuk-grid-column-one-third {
      text-align: right;
    }
  }
}

// To conditionally hide components to support JS/Non JS evidence upload functionality
.app-evidence-upload-hidden {
  display: none;
}
