// MOJ Design System
// https://design-patterns.service.justice.gov.uk
//
// NOTE: using hand-picked components instead of importing
// the whole library, as we only need a few ones.

// Badge
// https://design-patterns.service.justice.gov.uk/components/badge/
@use "@ministryofjustice/frontend/moj/components/badge/badge";

// Task List
// https://design-patterns.service.justice.gov.uk/patterns/task-list/
@use "@ministryofjustice/frontend/moj/components/task-list/task-list";


// Sub navigation
@use "@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";

// Primary navigation
@use "@ministryofjustice/frontend/moj/settings/measurements";
@use "@ministryofjustice/frontend/moj/objects/width-container";
@use "@ministryofjustice/frontend/moj/components/primary-navigation/primary-navigation";

// Interruption card
@use "@ministryofjustice/frontend/moj/components/interruption-card/interruption-card";
