<% title '' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>

    <h1 class="govuk-heading-xl">
      <%= service_name %>
    </h1>

    <p class="govuk-body">
      Use this service to apply for criminal legal aid.
    </p>

    <h3 class="govuk-heading-m">
      Before you start
    </h3>

    <p class="govuk-body">
      You can only use this service if:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the case is ongoing</li>
      <li>you know your client's National Insurance number</li>
      <li>your client does not have a partner</li>
      <li>your client receives a passporting benefit, including Universal Credit</li>
    </ul>

    <p class="govuk-body">
      Use <%= link_to 'eForms', Settings.eforms_url %> for all other applications.
    </p>

    <%= render partial: 'shared/start_button' %>
  </div>
</div>
