<% title '' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>

    <h1 class="govuk-heading-xl"><%= service_name %></h1>
    <p class="govuk-body">Defnyddiwch y gwasanaeth hwn i wneud cais am gymorth cyfreithiol troseddol.</p>
    <%= button_to t('helpers.submit.start'), provider_entra_omniauth_authorize_path(locale: :cy),
                  method: :post,
                  class: 'govuk-button govuk-button--start govuk-!-margin-top-4', form_class: 'app-button--start',
                  data: { module: 'govuk-button' }, role: 'button', draggable: false %>
  </div>
</div>
