<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :is_current_office, @form_object.choices, :value, inline: false,
                                           legend: {
                                             tag: 'h1', size: 'xl',
                                             text: t('.current_office_legend', office_code: current_office_code)
                                           } %>

      <%= f.continue_button(secondary: false) %>
    <% end %>
  </div>
</div>
