<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :office_code, @form_object.choices,
                                           :to_s, :to_s, inline: false,
                                           legend: { tag: 'h1', size: 'xl' } %>

      <%= f.continue_button(secondary: false) %>
    <% end %>
  </div>
</div>
