<li class='<%= "govuk-pagination__item#{' govuk-pagination__item--current' if page.current?} " %>'>
  <%= link_to_unless page.current?, page, url, { remote: remote, rel: page.rel, 'aria-label': "Page #{page}" } %>
</li>
