<% title 'You cannot access this service' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You cannot access this service
    </h1>

    <p class="govuk-body">
      This is because your account is locked.
    </p>

    <p class="govuk-body">
      <%= link_to 'Contact us', about_contact_path %> to find out more.
    </p>
  </div>
</div>
