<% title 'There is a problem with your request' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Sorry, there is a problem with your request
    </h1>

    <p class="govuk-body">
      You can go back, refresh the page, and try again.
    </p>

    <p class="govuk-body">
      <%= link_to 'Contact us', about_contact_path %> if this problem continues.
    </p>
  </div>
</div>
