<% title 'You need to apply using eForms' %>
<% step_header(path: Settings.portal_url) %>

<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l app-inverted-text">
      You need to apply using eForms
    </h1>

    <p class="govuk-body app-inverted-text">
      You do not have access to the ‘<%= service_name %>’ service yet. This is because it is only available to some
      providers while we test and improve it.
    </p>

    <p class="govuk-body app-inverted-text">
      We’ll contact your law firm when you can use this service. Until then, you should apply using eForms.
    </p>

    <p class="govuk-body app-inverted-text">
      Contact <%= mail_to Settings.onboarding_email, class: 'app-link--inverted' %>
      if you have any questions.
    </p>

    <div class="govuk-button-group govuk-!-margin-top-6">
      <%= link_button t('helpers.submit.apply_in_eforms'), Settings.eforms_url,
                      class: 'app-button--m app-button--inverted' %>
    </div>

    <%= link_to t('helpers.back_to_portal'), Settings.portal_url,
                class: 'app-link--inverted govuk-!-font-size-19' %>
  </div>
</div>
