<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your account cannot use this service yet
    </h1>

    <p class="govuk-body">
      Copy TBD.
    </p>
  </div>
</div>
