<% title 'Mewngofnodi i barhau' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>

    <h1 class="govuk-heading-xl">
      Mewngofnodi i barhau
    </h1>

    <%= render partial: 'shared/sign_in_button' %>
  </div>
</div>
