<% title 'Cookies' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner',
               locals: {
                 flash: { success: t(".settings_updated.#{flash['cookies_consent_updated']}") }
               } if flash['cookies_consent_updated'] %>

    <h1 class="govuk-heading-xl">Cookies</h1>

    <p class="govuk-body">The ‘<%= service_name %>’ service puts small files (known as ‘cookies’) onto your device to collect
      information about how you use the service.</p>

    <p class="govuk-body">Cookies are not used to identify you personally.</p>

    <p class="govuk-body">Find out
      <a class="govuk-link" rel="external" target="_blank" href="https://ico.org.uk/for-the-public/online/cookies">how
        to manage cookies</a> from the Information Commissioner’s Office.</p>

    <h2 class="govuk-heading-l">Essential cookies (strictly necessary)</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">
            _laa_apply_for_criminal_legal_aid_session
          </th>
          <td class="govuk-table__cell">
            Saves your current progress on this device and tracks inactivity periods
          </td>
          <td class="govuk-table__cell">
            When you close your browser
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
