<%# CONTNENT NEEDS CREATING %>

<% title 'Datganiad hygyrchedd' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Datganiad hygyrchedd</h1>

    <p class="govuk-body">Caiff y gwasanaeth hwn ei ariannu gan yr Asiantaeth Cymorth Cyfreithiol. Rydyn ni eisiau i gynifer o bobl ag sy’n bosibl allu defnyddio'r wefan hon. Er enghraifft, mae hynny’n golygu y dylech allu:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>newid lliwiau, lefelau cyferbyniad a ffontiau</li>
      <li>chwyddo mewn hyd at 300% heb i'r testun lifo oddi ar y sgrin</li>
      <li>llywio drwy’r rhan fwyaf o’r wefan gan ddefnyddio bysellfwrdd yn unig</li>
      <li>llywio drwy’r rhan fwyaf o’r wefan gan ddefnyddio meddalwedd adnabod llais</li>
      <li>gwrando ar y rhan fwyaf o’r wefan gan ddefnyddio darllenydd sgrin (gan gynnwys y fersiynau diweddaraf o JAWS, NVDA a VoiceOver)</li>
    </ul>

    <p class="govuk-body">Rydyn ni hefyd wedi gwneud testun y wefan mor hawdd ei ddeall ag sy’n bosibl.</p>

    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> mae ganddo gyngor ar wneud eich dyfais yn haws ei defnyddio os oes gennych chi anabledd.</p>

    <h2 class="govuk-heading-m">Pa mor hygyrch yw’r wefan hon</h2>
    <p class="govuk-body">Mae'r wefan hon yn cydymffurfio'n llawn â lefelau A, AA ac AAA Canllawiau Hygyrchedd Cynnwys y We - WCAG 2.1.</p>

    <h2 class="govuk-heading-m">Rhoi gwybod am broblemau hygyrchedd gyda’r wefan hon</h2>
    <p class="govuk-body">Rydyn ni bob amser yn awyddus i wella hygyrchedd y wefan hon. Os ydych chi’n dod ar draws unrhyw broblemau sydd heb eu rhestru ar y dudalen hon neu os ydych chi’n credu nad ydym yn bodloni gofynion hygyrchedd, anfonwch e-bost at <%= mail_to Settings.support_email, class: 'govuk-link--no-visited-state' %>.</p>

    <h2 class="govuk-heading-m">Gweithdrefn orfodi</h2>
    <p class="govuk-body">Y Comisiwn Cydraddoldeb a Hawliau Dynol sy’n gyfrifol am orfodi Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Chymwysiadau Symudol) (Rhif 2) 2018 (y ‘rheoliadau hygyrchedd’).</p>
    <p class="govuk-body">Os nad ydych chi’n fodlon ar sut rydyn ni’n ymateb i’ch cwyn <a href="https://www.equalityadvisoryservice.com/">cysylltwch â’r Gwasanaeth Cynghori a Chefnogi Cydraddoldeb (EASS)</a>.</p>

    <h2 class="govuk-heading-m">Cysylltu â ni</h2>
    <p class="govuk-body">Cysylltwch â ni drwy anfon e-bost at <%= mail_to Settings.support_email, class: 'govuk-link--no-visited-state' %></p>

    <h2 class="govuk-heading-m">Gwybodaeth dechnegol am hygyrchedd y wefan hon</h2>
    <p class="govuk-body">Mae’r Asiantaeth Cymorth Cyfreithiol wedi ymrwymo i wneud ei gwefannau yn hygyrch, yn unol â Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Rhaglenni Symudol) (Rhif 2) 2018.</p>
    <h3 class="govuk-heading-s">Statws cydymffurfio</h3>
    <p class="govuk-body">Mae’r wefan hon yn cydymffurfio’n llawn â’r <a href="https://www.w3.org/TR/WCAG21/">Canllawiau Hygyrchedd Cynnwys y We (WCAG) fersiwn 2.1</a> safon AA.</p>

    <h2 class="govuk-heading-m">Paratoi’r datganiad hygyrchedd hwn</h2>
    <p class="govuk-body">Cafodd y datganiad hwn ei baratoi ar 19 Mai 2023.</p>
    <p class="govuk-body">Cafodd y wefan hon ei phrofi ddiwethaf ar 12 Ebrill 2023. Cynhaliwyd y prawf gan UserVision.</p>
  </div>
</div>
