<%# CONTNENT NEEDS CREATING %>

<% title 'Accessibility statement' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility statement</h2>
  </div>
</div>
