<%# CONTNENT NEEDS CREATING %>

<% title 'Contact us' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Contact us</h1>
    <h2 class="govuk-heading-m">Case enquiries</h2>
    <p class="govuk-body">Telephone: <%= Settings.case_enquiries_tel %></p>
    <p class="govuk-body">9am to 5pm, Monday to Friday (excluding bank holidays)</p>
    <h2 class="govuk-heading-m">Technical support</h2>
    <p class="govuk-body">Email: <%= mail_to Settings.support_email, class: 'govuk-link--no-visited-state' %></p>
  </div>
</div>
