// Print specific overrides.
// Currently this is only used in the application certificate page.
//
@media print {
  header,
  footer,
  .govuk-phase-banner,
  .govuk-back-link,
  .app-no-print {
    display: none;
  }

  main {
    padding: 0 !important;
    margin: 3em !important;

    .govuk-grid-column-two-thirds {
      width: 100% !important;
    }
  }
}
