<%= govuk_header(homepage_url: root_path, classes: "govuk-header-#{HostEnv.env_name}") do |header|
  header.with_custom_logo do %>
    <%= render partial: 'layouts/moj_crest' %>
  <% end %>
  <% header.with_product_name(name: t('layouts.header.organisation_name')) %>

  <% if signed_in? %>
    <div class="govuk-header__content">
      <nav class="govuk-header__navigation" aria-label="Menu">
        <ul class="govuk-header__navigation-list">
          <li class="govuk-header__navigation-item app-header__auth-user" aria-role="paragraph">
            <%= current_provider.display_name %>
          </li>
          <li class="govuk-header__navigation-item">
            <%= link_to t('layouts.header.sign_out'), provider_omniauth_logout_path, class: 'govuk-header__link', aria: { role: 'button' } %>
          </li>
        </ul>
      </nav>
    </div>
  <% end %>
<% end %>
