name: SCA
run-name: Security Scanning ⚡️

on:
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions: {}

jobs:
  sca:
    name: Software Composition Analysis
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      contents: write
      pull-requests: write
      issues: write
      security-events: write
      actions: read

    steps:
      - uses: ministryofjustice/devsecops-actions/sca@f965eb1771ec66cfc41d7d57dc607fa6dfbc10ed # v1.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
