<div class="govuk-cookie-banner" data-nosnippet role="region"
     aria-label="<%= t('.title', service_name:) %>" data-module="govuk-cookie-banner">
  <div class="govuk-cookie-banner__message govuk-width-container" role="alert">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">
            <%= t(".result.#{result}") %>
            <%= t('.content_html', cookies_link: cookies_path) %>
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <a href="/" role="button" draggable="false" class="app--js-cookie-banner-hide govuk-button" data-module="govuk-button">
        <%= t('.hide_button') %>
      </a>
    </div>
  </div>
</div>
