<% content_for(:footer_top) do %>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Developer Tools
      </span>
    </summary>
    <div class="govuk-details__text app-util--inline-buttons">
      <% if current_crime_application %>
        <h4 class="govuk-heading-s">Current Application ID</h4>
        <p><%= current_crime_application.id %></p>
      <% end %>

      <h4 class="govuk-heading-s">Destroy session</h4>
      <p>Deletes all data entered in this session and lets you start a new application from scratch.</p>

      <%= button_to session_path, method: :delete,
                    class: 'govuk-button govuk-button--warning',
                    data: { module: 'govuk-button' } do; 'Destroy session'; end %>

      <h4 class="govuk-heading-s">Bypass steps</h4>
      <p>Speed up some common test scenarios by pre-filling some information</p>

      <div class="govuk-button-group">
        <%= button_to edit_steps_client_has_partner_path, method: :get,
                      class: 'govuk-button govuk-!-margin-right-1',
                      data: { module: 'govuk-button' } do; 'Start application'; end %>

        <%= button_to bypass_to_client_details_session_path,
                      class: 'govuk-button',
                      data: { module: 'govuk-button' } do; 'Bypass to client details'; end %>
      </div>
    </div>
  </details>
<% end %>
