<div class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <%= link_to service_name, root_path, class: 'govuk-service-navigation__link' %>
      </span>
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <%= link_to t('.your_applications'),
                        crime_applications_path,
                        class: 'govuk-service-navigation__link',
                        aria: { current: ('page' if current_page?('/applications') || controller.is_a?(CompletedApplicationsController)) } %>
          </li>
          <li class="govuk-service-navigation__item">
            <%= link_to t('.search'),
                        new_application_searches_path,
                        class: 'govuk-service-navigation__link',
                        aria: { current: ('page' if controller.controller_name == 'application_searches') } %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
